.sign-container{
    background: linear-gradient(to left,pink,rgb(0, 128, 77));
    height: 100vh;
    padding: 30px;
}
.sign-box-form{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
     font-size: 0.8em;
    border-radius: 15px;
    background-color: rgba(85, 71, 114, 0.1);
    padding: 25px 35px;
    color: black;
    margin: 20px 30px;
}
.sign-box-form p{
    font-size: 2em;
    text-align: center;
    margin-top: 0px;
}
.sign-box{
    margin: 20px 10px;
}
.sign-box label{
    display: block;
}
.sign-box input{
     border: none;
    border-radius: 20px;
    background-color: none;
    border: 2px solid white;
    margin-top: 15px;
    padding: 10px;
    outline: none;
}
.submit-btn-container{
    text-align: center;
}
.submit-btn-container input{
     border: none;
    border-radius: 35px;
    background-color: rgba(193, 175, 175,0.2);
    color:black ;
    padding: 10px 40px;
    font-size: 1.4em;
    letter-spacing: 2px;
    cursor: pointer;
}
.submit-btn-container input:hover{
    background-color: rgba(193, 175, 175, 0.9);
}
.social-icon{
     display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding-top:  20px; ;
}
.social-icon a{
    color: rgb(8, 11, 8);
    font-size: 1.9em;
}
.img-container{
    display: flex;
    height: 90%;
    margin-top: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}
 .img-container img{
    width: 100%;
    border-radius: 5px;
}

